.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: $grey-light-second;
  box-shadow: $shadow-dark;
  min-height: 50rem;
}

.header {
  font-size: 1.2rem;
  height: 7rem;
  background-color: $white;
  border-bottom: .2rem solid $grey-light;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {

  display: flex;


  .sidebar {
    background: $grey-dark;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 18%;
    padding: 1.5rem 0;
  }

  .hotel-view {
    flex: 1;
  }

}

.details {
  display: flex;
  padding: 4rem;
  background-color: $grey-light;
  border-bottom: .2rem solid $grey-light-third;

  .description {
    font-size: 1.35rem;
    background-color: $white;
    box-shadow: $custom-shadow;
    flex: 0 0 60%;
    padding: 3rem;
    margin-right: 4rem;
  }

  .user-reviews {
    background-color: green;
    flex: 1;
  }
}

