$white: #fff;
$black: #000;

$primary: #eb2f64;
$primary-light: rgba(227, 90, 125, 0.9);
$primary-dark: #BA265D;

$grey-light: #faf9f9;
$grey-light-second: #f4f2f2;
$grey-light-third: #f0eeee;
$grey-light-fourth: #ccc;
$grey-dark: #333;
$grey-dark-second: #777;
$grey-dark-third: #999;


$custom-shadow: 0 2rem 6rem rgba(0,0,0,.1rem);
$shadow-dark:0 2rem 6rem rgba(0,0,0,.3);

$line: .2rem solid $grey-light-third;

$desktop: 1200px;
$laptop: 1100px;
$tablet: 900px;
$mobile: 650px;
$min-mobile:500px;