$white: #fff;
$black: #000;

$primary: #eb2f64;
$primary-light: #FF3366;
$primary-dark: #BA265D;

$grey-light: #faf9f9;
$grey-light-second: #f4f2f2;
$grey-light-third: #f0eeee;
$grey-light-fourth: #ccc;
$grey-dark: #333;
$grey-dark-second: #777;
$grey-dark-third: #999;

$shadow-dark:0 2rem 6rem rgba(0,0,0,.3);